* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  background-color: white;
  width: 100%;
  height: 9rem;
  position: fixed;
  z-index: 10;
}

.checkbtn {
  font-size: 30px;
  color: rgb(3, 1, 1);
  float: left;
  line-height: 80px;
  margin-left: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.logotipo {
  z-index: 11;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 55rem;
  /* margin-left: 55rem; */
  margin-top: 1rem;
  width: 7rem;
  height: 7rem;
}

.search {
  position: relative;
  top: 1rem;
  left: 100rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-weight: bolder 6rem;
}

.compra {
  position: relative;
  top: 1rem;
  left: 102rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-weight: bolder 6rem;
}

.usuario {
  position: relative;
  top: 1rem;
  left: 104rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-weight: bolder 6rem;
}

.sizeul {
  font-size: 1.5rem;
  list-style-type: none;
}

.menu_vertical {
  line-height: 0.2rem;
  position: absolute;
  display: none;
  list-style: none;
  width: 20rem;
  height: 23rem;
  background-color: white;
  z-index: 10;
}

header nav ul li ul {
  padding-top: 10rem;
  padding-right: 7rem;
}

.sizeul li:hover .menu_vertical {
  display: block;
}

.sub_menu_Calzado {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 3rem;
}

.sub_menu_Indumentaria {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 15rem;
  bottom: 7rem;
}

.sub_menu_Accesorios {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 32rem;
  bottom: 22.5rem;
}

.menu_verticalb {
  line-height: 0.2rem;
  display: flex;
  flex-direction: row;
  position: absolute;
  display: none;
  list-style: none;
  z-index: 10;
  width: 50rem;
  height: 20rem;
  background-color: white;
}

.sizeul li:hover .menu_verticalb {
  display: block;
}

li {
  display: inline-block;
  padding-left: 2rem;
  position: relative;
  bottom: 4.5rem;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.colorMarcas a:hover {
  color: red;
}

li a {
  color: black;
}

a:hover {
  color: red;
}

main .portada {
  height: 39.65rem;
  margin-top: 8rem;
}
main section div h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  font-size: 2rem;
  font-family: "Overpass Mono", monospace;
}
main section article .splide__track {
  display: flex;
  align-items: center;
}
main section article .splide__track .img_box {
  width: 15rem;
}
main section article .splide__track .img_box .sweatpantEssentialsSeal {
  width: 25rem;
  position: relative;
  right: 3rem;
}
main section article .splide__track .img_box .textSweatpantEssentialsSeal {
  text-align: center;
  padding-top: 3rem;
  position: relative;
  left: 2rem;
}
main section article .splide__track .img_box .hoodieOffWhiteTapeDiagArrowsBlackBeige {
  width: 25rem;
}
main section article .splide__track .img_box .textHoodieOffWhiteTapeDiagArrowsBlackBeige {
  text-align: center;
  padding-top: 2rem;
  position: relative;
  left: 5rem;
}
main section article .splide__track .img_box .hoodieSupremeBandanaBoxLightBlue {
  width: 25rem;
}
main section article .splide__track .img_box .textHoodieSupremeBandanaBoxLightBlue {
  text-align: center;
  padding-top: 2rem;
  position: relative;
  left: 5rem;
}
main section article .splide__track .img_box .sweatpantNikexStussyInternationalBlack {
  width: 25rem;
}
main section article .splide__track .img_box .textSweatpantNikexStussyInternationalBlack {
  text-align: center;
  padding-top: 2rem;
  position: relative;
  left: 5rem;
}
main section article .splide__track .img_box .hoodieDrewHouseMascotBlack {
  width: 25rem;
}
main section article .splide__track .img_box .textHoodieDrewHouseMascotBlack {
  text-align: center;
  padding-top: 3rem;
  position: relative;
  left: 5rem;
}
main section article .splide__track .img_box .sweatpantsJordanxJBalvinBlue {
  width: 25rem;
}
main section article .splide__track .img_box .textSweatpantsJordanxJBalvinBlue {
  text-align: center;
  padding-top: 3rem;
  position: relative;
  left: 5rem;
}
main section article .splide__track .img_box .hoodieEssentialsWood {
  width: 25rem;
}
main section article .splide__track .img_box .textHoodieEssentialsWood {
  padding-top: 3rem;
  text-align: center;
  position: relative;
  left: 5rem;
}
main section article .splide__track .img_box .hoodiePalmAngelsKillBear {
  width: 25rem;
}
main section article .splide__track .img_box .textHoodiePalmAngelsKillBear {
  padding-top: 3rem;
  text-align: center;
  position: relative;
  left: 5rem;
}
main section Article .marcas {
  display: flex;
  justify-content: space-around;
  padding-bottom: 4rem;
  position: relative;
  top: 6rem;
}
main section Article .marcas .logo-jordan {
  height: 6rem;
  width: 10rem;
}
main section Article .marcas .logo-stussy {
  height: 7rem;
  width: 11rem;
}
main section Article .marcas .logo-essentials {
  height: 4rem;
  width: 8rem;
  position: relative;
  top: 2rem;
}
main section Article .marcas .logo-palmangels {
  height: 7rem;
  width: 11rem;
}
main section Article .marcas .logo-northface {
  height: 5rem;
  width: 9rem;
  position: relative;
  top: 1.2rem;
}
main section Article .marcas .logo-offwhite {
  height: 7rem;
  width: 11rem;
}
main .ropaContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 8rem;
  font-family: "Overpass Mono", monospace;
  color: white;
  text-align: center;
  font-size: 4rem;
}
main .ropaContainer div .imagen-calzado {
  height: 35rem;
  width: 37rem;
}
main .ropaContainer div a:hover {
  color: white;
}
main .ropaContainer div a {
  color: white;
}
main .ropaContainer div .textPortadaCalzado {
  text-align: center;
  position: relative;
  bottom: 18rem;
  font-size: 5rem;
  color: white;
  font-family: "Carlito", sans-serif;
}
main .ropaContainer div .calzado {
  position: relative;
  bottom: 20rem;
}
main .ropaContainer div .imagen-indumentaria {
  height: 35rem;
  width: 37rem;
}
main .ropaContainer div .indumentaria {
  position: relative;
  bottom: 20rem;
}
main .ropaContainer div .imagen-accesorios {
  height: 35rem;
  width: 37rem;
}
main .ropaContainer div .accesorios {
  position: relative;
  bottom: 20rem;
}
main section article .quienes-somos {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 5rem;
  font-family: "Overpass Mono", monospace;
}
main section article .texto-quienesomos {
  text-align: center;
  font-family: "Carlito", sans-serif;
  font-size: 1.6rem;
}
main section article button a:hover {
  color: white;
}
main section article .estilosButton {
  padding: 0.3rem;
  border-style: solid;
  color: white;
  background-color: black;
  font-size: 1.5rem;
  font-family: "Carlito", sans-serif;
  border-radius: 0.7rem;
  position: relative;
  top: 3rem;
  left: 54rem;
}
main section article .estilosButton a {
  color: white;
}
main section article .estilosButton a p {
  position: relative;
  top: 0.5rem;
}
main section .imgConteiner {
  display: flex;
  margin-top: 15rem;
  justify-content: space-around;
}
main section .imgConteiner .imagen-jordan {
  height: 33.2rem;
  width: 35rem;
}
main section .imgConteiner .imagen-supreme {
  height: 33.2rem;
  width: 35rem;
}
main .iconContainer {
  display: flex;
  font-family: "Carlito", sans-serif;
  margin-top: 8rem;
  justify-content: space-around;
}
main .iconContainer .productos {
  font-size: 1.5rem;
  font-weight: bold;
  font-weight: bolder 3rem;
}
main .iconContainer .exclusivos {
  font-size: 1.2rem;
  position: relative;
  right: 7rem;
}
main .iconContainer .camion {
  font-size: 1.5rem;
  font-weight: bold;
  font-weight: bolder 3rem;
}
main .iconContainer .envios {
  font-size: 1.2rem;
  position: relative;
  right: 7rem;
}
main .iconContainer .candado {
  font-size: 1.5rem;
  font-weight: bold;
  font-weight: bolder 3rem;
}
main .iconContainer .seguro {
  font-size: 1.2rem;
  position: relative;
  right: 7rem;
}
main .iconContainer .garantia {
  font-size: 1.5rem;
  font-weight: bold;
  font-weight: bolder 3rem;
}
main .iconContainer .calidad {
  font-size: 1.2rem;
  position: relative;
  right: 7rem;
}

.separador {
  margin-top: 4rem;
}

.separadorHeader {
  width: 100%;
  position: relative;
  bottom: 4.6rem;
}

main section .articleContainer {
  display: flex;
}
main div .containerForm {
  color: white;
  font-family: "Quicksand", sans-serif;
  margin-top: 8rem;
}
main div .containerForm .containerContact {
  display: flex;
}
main div .containerForm .containerContact .portadaContacto {
  height: 68rem;
  width: 50rem;
}
main div .containerForm .containerContact .content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 1.5em 0 1.5em;
}
main div .containerForm .containerContact .content h1 {
  color: white;
}
main div .containerForm .containerContact .content .contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  padding: 1em;
}
main div .containerForm .containerContact .content .contact-wrapper .contact-form {
  background: #3F4045;
  margin-top: 1rem;
  width: 100%;
  height: 36rem;
}
main div .containerForm .containerContact .content .contact-wrapper .contact-form .logo {
  text-align: center;
  font-size: 3em;
}
main div .containerForm .containerContact .content .contact-wrapper .contact-form .logo span {
  font-weight: bold;
  color: #8E1515;
}
main div .containerForm .containerContact .content .contact-wrapper .contact-form form {
  padding-right: 1rem;
  position: relative;
  bottom: 15rem;
  left: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main div .containerForm .containerContact .content .contact-wrapper .contact-form form button {
  width: 100%;
  background: white;
  color: #000;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
main div .containerForm .containerContact .content .contact-wrapper .contact-form form buttonhover, main div .containerForm .containerContact .content .contact-wrapper .contact-form form buttonfocus {
  background: black;
  color: white;
  transition: background-color 1s ease-out;
  outline: 0;
}
main div .containerForm .containerContact .content .contact-wrapper .contact-form form input,
main div .containerForm .containerContact .content .contact-wrapper .contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
}
main div .containerForm .containerContact .content .contact-wrapper .contact-form form .block {
  grid-column: 1/3;
}
main div .containerForm .containerContact .content .contact-wrapper .contact-form form p {
  margin: 0;
  padding: 1em;
}
main div .contact-info {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 26rem;
  width: 100%;
  background: #333333;
}
main div .contact-info .maps {
  margin-top: 1rem;
  width: 100%;
  height: 15rem;
}
main div .contact-info ul {
  list-style: none;
  padding: 0;
}
main div .contact-info ul li {
  padding: 0.3em;
}
main div .contact-info h4,
main div .contact-info ul,
main div .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}
main form {
  padding-top: 16rem;
  position: relative;
  right: 10rem;
  font-family: "Carlito", sans-serif;
}

main section article .imgPortada {
  width: 100%;
  height: 40rem;
}
main section article .textPortada {
  text-align: center;
  position: relative;
  bottom: 18rem;
  font-size: 5rem;
  color: white;
  font-family: "Carlito", sans-serif;
}
main section .textAlignPreguntasFrecuentes {
  padding-left: 35rem;
}
main section .textAlignPreguntasFrecuentes .accordion {
  width: 50rem;
}
main section .textAlignPreguntasFrecuentes .accordion .accordion-item {
  font-family: "Carlito", sans-serif;
}
main section .textAlignPreguntasFrecuentes .accordion .accordion-item .accordion-header {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
main section .textAlignPreguntasFrecuentes .accordion .accordion-item .accordion-header .letter {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Overpass Mono", monospace;
}
main section .textAlignPreguntasFrecuentes .accordion .accordion-item .accordion-header button:hover {
  color: red;
}

main section article .textPortadaPoliticaDeDevoluciones {
  text-align: center;
  position: relative;
  bottom: 18rem;
  font-size: 5rem;
  color: white;
  font-family: "Carlito", sans-serif;
}
main section article .textPoliticaDeDevoluciones {
  padding-left: 25rem;
  position: relative;
  bottom: 3rem;
  font-family: "Carlito", sans-serif;
  margin-bottom: 10rem;
}

main section article .textPortadaCategorias {
  text-align: center;
  position: relative;
  bottom: 18rem;
  font-size: 5rem;
  color: white;
  font-family: "Carlito", sans-serif;
}

main section article .imgPortadaNosotros {
  width: 100%;
  height: 40rem;
  position: relative;
  top: 9rem;
}
main section article .textNosotros {
  padding-top: 15rem;
  text-align: center;
  font-size: 1.9rem;
  font-family: "Carlito", sans-serif;
}
main section .imgalign {
  position: relative;
  top: 10rem;
}
main section .imgalign .imgBannerUbicacion {
  width: 110rem;
  padding-left: 9rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
main section .imgalign .textUbication {
  text-align: center;
  font-family: "Carlito", sans-serif;
  font-size: 1.8rem;
  position: relative;
  bottom: 27rem;
  color: white;
}
main section .imgalign .textUbication i {
  font-weight: bold;
  font-size: 4rem;
}

main section article .textPortadaCalzado {
  text-align: center;
  position: relative;
  bottom: 18rem;
  font-size: 5rem;
  color: white;
  font-family: "Carlito", sans-serif;
}
main section article div .sizeImgJordanBlackCat {
  width: 20rem;
  position: relative;
  right: 7rem;
}
main section article div .textAlignJordanBlackCat {
  margin-top: 3rem;
  position: relative;
  right: 8rem;
}
main section article div .sizeImgJordanOffWhite {
  width: 22rem;
  position: relative;
  bottom: 5rem;
}
main section article div .textAlignJordanOffWhite {
  position: relative;
  bottom: 2rem;
  right: 1.5rem;
}
main section article div .sizeImgJordan1Retro85 {
  position: relative;
  bottom: 3rem;
  left: 7rem;
}
main section article div .textAlignJordan1Retro85 {
  position: relative;
  bottom: 2rem;
  left: 5rem;
}
main section article div .sizeImgJordanMilitaryBlack {
  width: 25rem;
  margin-top: 10rem;
  position: relative;
  right: 7rem;
}
main section article div .textAlignJordanMilitaryBlack {
  position: relative;
  right: 9rem;
  bottom: 3rem;
}
main section article div .sizeImgJordanPureMoney {
  width: 21rem;
  margin-top: 10rem;
  position: relative;
  right: 3rem;
  top: 5rem;
}
main section article div .textAlignJordanPureMoney {
  position: relative;
  top: 8.5rem;
  right: 4rem;
}
main section article div .sizeImgJordan1RetroUniversityBlue {
  width: 27rem;
  margin-top: 10rem;
  position: relative;
  left: 5rem;
  top: 2rem;
}
main section article div .textAlignJordan1RetroUniversityBlue {
  position: relative;
  top: 2rem;
  left: 3rem;
}
main section article div .sizeImgJordanTravisScott {
  width: 27rem;
  position: relative;
  right: 10rem;
}
main section article div .textAlignJordanTravisScott {
  position: relative;
  top: 3.5rem;
  right: 12rem;
}
main section article div .sizeImgJordanHyperRoyal {
  width: 28rem;
  position: relative;
  right: 6rem;
}
main section article div .textAlignJordanHyperRoyal {
  position: relative;
  bottom: 10rem;
  right: 7rem;
}
main section article div .sizeImgJordan1RetroDarkMocha {
  width: 23rem;
  position: relative;
  top: 8rem;
  left: 1.5rem;
}
main section article div .textAlignJordan1RetroDarkMocha {
  position: relative;
  top: 6rem;
}
main section article div .sizeImgJordanRoyalToe {
  width: 25rem;
  position: relative;
  right: 11rem;
}
main section article div .textAlignJordanRoyalToe {
  position: relative;
  right: 13rem;
  bottom: 3rem;
}
main section article div .sizeImgYeezyBlackRed {
  width: 25rem;
  position: relative;
  right: 5rem;
}
main section article div .textAlignYeezyBlackRed {
  position: relative;
  right: 6rem;
  bottom: 3rem;
}
main section article div .sizeImgYeezyCream {
  width: 23rem;
  position: relative;
  top: 7rem;
  left: 2rem;
}
main section article div .textAlignYeezyCream {
  position: relative;
  top: 10rem;
  left: 1.5rem;
}
main section article .pagination {
  justify-content: center;
  padding-bottom: 10rem;
  position: relative;
  top: 14rem;
}

main section article .sizeImgJordanWhiteOreo {
  width: 25rem;
  position: relative;
  right: 8rem;
}
main section article .textAlignJordanWhiteOreo {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 10rem;
  position: relative;
  right: 10rem;
}
main section article .sizeImgJordan1RetroHighDefiant {
  width: 25rem;
}
main section article .textAlignJordan1RetroHighDefiant {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 10rem;
}
main section article .sizeImgJordan1RetroYellowOchre {
  width: 25rem;
  position: relative;
  left: 8rem;
}
main section article .textAlignJordan1RetroYellowOchre {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 10rem;
  position: relative;
  left: 6rem;
}
main section article .sizeImgJordan1RetroHighBredToe {
  width: 25rem;
  position: relative;
  right: 8rem;
}
main section article .textAlignJordan1RetroHighBredToe {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 10rem;
  position: relative;
  right: 10rem;
}
main section article .sizeImgAdidasYeezyBoost350V2Onyx {
  width: 25rem;
}
main section article .textAlignAdidasYeezyBoost350V2Onyx {
  text-align: center;
  padding-top: 2rem;
  position: relative;
  right: 1rem;
}
main section article .sizeImgAdidasYeezyBoost350V2CoreBlackWhite {
  width: 25rem;
  position: relative;
  left: 8rem;
}
main section article .textAlignAdidasYeezyBoost350V2CoreBlackWhite {
  text-align: center;
  padding-top: 2rem;
  position: relative;
  left: 8rem;
}
main section article .sizeImgJordan1MidSEDarkChocolate {
  width: 25rem;
  position: relative;
  right: 37rem;
}
main section article .textAlignJordan1MidSEDarkChocolate {
  text-align: center;
  padding-top: 2rem;
  position: relative;
  right: 39rem;
}

main section article .textPortadaIndumentaria {
  text-align: center;
  position: relative;
  bottom: 18rem;
  font-size: 5rem;
  color: white;
  font-family: "Carlito", sans-serif;
}
main section article .sizeImngHoodieStussy {
  width: 30rem;
  position: relative;
  right: 9rem;
}
main section article .textAlignHoodieStussy {
  position: relative;
  right: 9rem;
  top: 3rem;
}
main section article .sizeImngPantsEssentialsButterCream {
  width: 18rem;
  position: relative;
  right: 3rem;
}
main section article .textAlignPantsEssentialsButterCream {
  position: relative;
  right: 3rem;
  top: 3rem;
}
main section article .sizeImngT-shirtCactusJack {
  width: 20rem;
  position: relative;
  left: 11rem;
}
main section article .textAlignT-shirtCactusJack {
  position: relative;
  left: 11rem;
  top: 1rem;
}
main section article .sizeImngT-shirtStussyWorldTour {
  width: 20rem;
  margin-top: 10rem;
  position: relative;
  right: 8rem;
}
main section article .textAlignT-shirtStussyWorldTour {
  position: relative;
  right: 8rem;
  top: 2rem;
}
main section article .sizeImngHoodieEssentialTaupe {
  width: 25rem;
  margin-top: 11rem;
}
main section article .textAlignHoodieEssentialTaupe {
  position: relative;
  top: 3rem;
}
main section article .sizeImngShortEssentialsButterCream {
  width: 20rem;
  margin-top: 11rem;
  position: relative;
  left: 12rem;
}
main section article .textAlignShortEssentialsButterCream {
  position: relative;
  left: 11rem;
  top: 2rem;
}
main section article .sizeImngHoodieEssentialCanary {
  width: 22rem;
  margin-top: 10rem;
  position: relative;
  right: 10rem;
}
main section article .textAlignHoodieEssentialCanary {
  position: relative;
  right: 10rem;
  top: 2rem;
}
main section article .sizeImngT-shirtTravisScot {
  width: 20rem;
  margin-top: 10rem;
}
main section article .textAlignT-shirtTravisScot {
  position: relative;
  top: 4rem;
}
main section article .sizeImngHoodieSupremeNatural {
  width: 20rem;
  margin-top: 10rem;
  position: relative;
  left: 12rem;
}
main section article .textAlignHoodieSupremeNatural {
  position: relative;
  left: 11rem;
  top: 4rem;
}
main section article .sizeImngPantsEssentialsOffBlack {
  width: 22rem;
  margin-top: 10rem;
  position: relative;
  right: 11rem;
}
main section article .textAlignPantsEssentialsOffBlack {
  position: relative;
  right: 11rem;
  top: 3rem;
}
main section article .sizeImngShortJordanxTravisScott {
  width: 22rem;
  margin-top: 10rem;
}
main section article .textAlignShortJordanxTravisScott {
  position: relative;
  top: 3rem;
}
main section article .sizeImngHoodieEssentials {
  width: 20rem;
  margin-top: 10rem;
  position: relative;
  left: 11rem;
}
main section article .textAlignHoodieEssentials {
  position: relative;
  left: 10rem;
  top: 4rem;
}

main section article .sizeImngTshirtCactusJackxDior {
  width: 25rem;
}
main section article .textAlignTshirtCactusJackxDior {
  padding-top: 4rem;
}
main section article .sizeImngTshirtDrewHouse3dSherman {
  width: 25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
main section article .sizeImngHoodieOffWhiteTapeDiagArrowsBlackBeige {
  width: 25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
main section article .sizeImngHoodiePalmAngelsKillBear {
  width: 27rem;
  padding-top: 15rem;
  padding-bottom: 2rem;
}
main section article .sizeImngSweatpantsJordanxJBalvinBlue {
  width: 25rem;
  padding-top: 15rem;
  padding-bottom: 3.5rem;
}
main section article .sizeImngShortEssentialsMossGoat {
  width: 25rem;
  padding-top: 15rem;
  padding-bottom: 4.5rem;
}
main section article .sizeImngTShirtStussyBasicBlack {
  width: 25rem;
  padding-top: 15rem;
  padding-bottom: 2rem;
}
main section article .sizeImngHoodieDrewHouseMascotBlack {
  width: 25rem;
  padding-top: 15rem;
  padding-bottom: 2rem;
}
main section article .sizeImngTShirtNikexStussyWhite {
  width: 24rem;
  padding-top: 15rem;
  padding-bottom: 3rem;
}
main section article .sizeImngTShirtDrewHouseFullMoonBlack {
  width: 21rem;
  padding-top: 15rem;
  padding-bottom: 3rem;
}
main section article .sizeImngHoodieSupremeBandanaBoxLightBlue {
  width: 25rem;
  padding-top: 13.5rem;
  padding-bottom: 2rem;
}
main section article .sizeImngTShirtNikexStussyBlack {
  width: 22rem;
  padding-top: 15rem;
  padding-bottom: 2.7rem;
}

main section article .sizeImngHoodieStussyWhite {
  width: 25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
main section article .sizeImngShortEssentialsTaupe {
  width: 22rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
main section article .sizeImngTShirtDrewHouseSecretTeeWhite {
  width: 25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
main section article .sizeImngSwatpantsEssentialsPistachio {
  width: 23rem;
  padding-top: 15rem;
  padding-bottom: 3rem;
}
main section article .sizeImngTShirtOffWhiteSprayPrintBlack {
  width: 25rem;
  padding-top: 15rem;
  padding-bottom: 3rem;
}
main section article .sizeImngHoodieEssentialsWood {
  width: 25rem;
  padding-top: 15rem;
  padding-bottom: 2rem;
}
main section article .sizeImngSweatpantEssentialsSeal {
  width: 25rem;
  padding-top: 15rem;
  padding-bottom: 3rem;
}
main section article .sizeImngTShirtEssentialsTaupe {
  width: 25rem;
  padding-top: 15rem;
  padding-bottom: 3rem;
}
main section article .sizeImngDrewHouseTheordoreSketchCrewneckOffWhite {
  width: 25rem;
  padding-top: 15rem;
  padding-bottom: 3rem;
}
main section article .sizeImngSweatpantNikexStussyInternationalBlack {
  width: 25rem;
  padding-top: 15rem;
  padding-bottom: 3rem;
}
main section article .sizeImngTShirtdrewHouseSketchMascotTeeWhite {
  width: 25rem;
  padding-top: 15rem;
  padding-bottom: 3rem;
}
main section article .sizeImngSweatpantEssentialsWood {
  width: 25rem;
  padding-top: 15rem;
  padding-bottom: 3rem;
}

main section article .sizeImgBilleteraOffWhite {
  width: 20rem;
  position: relative;
  bottom: 12rem;
}
main section article .textAlignBilleteraOffWhite {
  position: relative;
  bottom: 12rem;
}
main section article .sizeImgCinturonSupreme {
  width: 20rem;
  /* padding-top: 12rem; */
  margin-left: 2rem;
}
main section article .textAlignCinturonSupreme {
  padding-top: 2.5rem;
}
main section article .sizeImgBilleteraSpremexLouisVuitton {
  width: 17rem;
  /* padding-top: 12rem; */
}
main section article .textAlignBilleteraSpremexLouisVuitton {
  padding-top: 3rem;
}
main section article .sizeImgbilleterasupreme {
  width: 20rem;
  /* padding-top: 8rem; */
  padding-right: 2rem;
}
main section article .sizeImgGorraJordan {
  width: 20rem;
  /* padding-top: 9rem; */
}
main section article .textAlignGorraJordan {
  padding-top: 2rem;
}
main section article .sizeImgGorraPalmAngels {
  width: 19rem;
  /* padding-top: 8rem; */
}
main section article .textAlignGorraPalmAngels {
  position: relative;
  bottom: 1rem;
}
main section article .sizeImgGorraSupreme {
  width: 23rem;
  padding-top: 6rem;
  position: relative;
  right: 9rem;
}
main section article .textAlignGorraSupreme {
  position: relative;
  bottom: 1.8rem;
  right: 10rem;
}
main section article .sizeImgGorroSupremeNewEraBoxLogo {
  width: 24rem;
  padding-top: 11rem;
  position: relative;
  right: 21rem;
}
main section article .textAlignGorroSupremeNewEraBoxLogo {
  padding-top: 2rem;
  position: relative;
  right: 21rem;
}

footer {
  text-align: center;
  margin-top: 2rem;
}
footer a:hover {
  color: red;
}
footer .soporte {
  display: inline-block;
  position: relative;
  left: 5rem;
  font-size: 2rem;
  font-family: "Overpass Mono", monospace;
}
footer .preguntas {
  position: relative;
  top: 3rem;
  right: 2rem;
  font-size: 1rem;
  font-family: "Carlito", sans-serif;
  color: black;
}
footer .flecha {
  position: relative;
  top: 3.5rem;
  right: 13.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  font-weight: bolder 3rem;
}
footer .devoluciones {
  position: relative;
  top: 5rem;
  right: 13.5rem;
  font-size: 1rem;
  font-family: "Carlito", sans-serif;
  color: black;
}
footer .flecha-right {
  position: relative;
  top: 5.5rem;
  right: 26.3rem;
  font-size: 1.6rem;
  font-weight: bold;
  font-weight: bolder 3rem;
}
footer .mail {
  position: relative;
  top: 7.2rem;
  right: 28rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-weight: bolder 3rem;
}
footer .gmail {
  display: inline-block;
  position: relative;
  top: 7rem;
  right: 27.8rem;
  font-size: 1rem;
  font-family: "Carlito", sans-serif;
}
footer .phone {
  position: relative;
  top: 9rem;
  right: 39.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-weight: bolder 3rem;
}
footer .numero {
  display: inline-block;
  position: relative;
  top: 8.8rem;
  right: 39rem;
  font-size: 1rem;
  font-family: "Carlito", sans-serif;
}
footer .metodosde-pago {
  position: relative;
  bottom: 0.7rem;
  font-size: 2rem;
  font-family: "Overpass Mono", monospace;
  display: inline-block;
}
footer .pagosContainer {
  position: relative;
  top: 7rem;
  right: 10rem;
  display: inline-block;
}
footer .visa {
  position: relative;
  top: 3rem;
  right: 15rem;
  font-size: 3.5rem;
}
footer .mastercard {
  position: relative;
  top: 3rem;
  right: 15rem;
  font-size: 3rem;
}
footer .paypal {
  position: relative;
  top: 3rem;
  right: 15rem;
  font-size: 3rem;
}
footer .redes-sociales {
  display: inline-block;
  position: relative;
  bottom: 0.7rem;
  left: 16rem;
  font-size: 2rem;
  font-family: "Overpass Mono", monospace;
}
footer .instagram {
  display: inline-block;
  position: relative;
  top: 3rem;
  left: 3rem;
  font-size: 3rem;
}
footer .copyright {
  position: relative;
  top: 15rem;
  right: 72rem;
  font-size: 0.9rem;
  font-family: "Carlito", sans-serif;
  display: inline-block;
  padding-bottom: 3rem;
}

.footerResponsive {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
