main{
    section{
        article{
           
            
            .sizeImngTshirtDrewHouse3dSherman{
                width: 25rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
                @include mobile{
                    width: 70%;
                    padding-top: 4rem;
                    padding-bottom: 2rem;
                }
            }
            
           
            
            .sizeImngHoodieDrewHouseMascotBlackB{
                width: 25rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
                @include mobile{
                    width: 70%;
                    padding-top: 4rem;
                    padding-bottom: 2rem;
                }
            }
            
         
            .sizeImngTShirtDrewHouseFullMoonBlackB{
                width: 21rem;
                padding-top: 4rem;
                padding-bottom: 3rem;
                @include mobile{
                    width: 70%;
                    padding-top: 4rem;
                    padding-bottom: 2rem;
                }
            }
            
           
          
            
            .sizeImngTShirtDrewHouseSecretTeeWhiteB{
                width: 25rem;
                padding-top: 16rem;
                padding-bottom: 2rem;
                @include mobile{
                    width: 70%;
                    padding-top: 6rem;
                    padding-bottom: 4rem;
                }
            }
            
           
            
            .sizeImngDrewHouseTheordoreSketchCrewneckOffWhiteB{
                width: 25rem;
                padding-top: 15rem;
                padding-bottom: 3rem;
                @include mobile{
                    width: 70%;
                    padding-top: 6rem;
                    padding-bottom: 4rem;
                }
            }
            
           
            
            .sizeImngTShirtdrewHouseSketchMascotTeeWhiteB{
                width: 25rem;
                padding-top: 15rem;
                padding-bottom: 3rem;
                @include mobile{
                    width: 70%;
                    padding-top: 6rem;
                    padding-bottom: 4rem;
                }
            }
            
          
           
        }
    }
}