footer{
    text-align: center;
    margin-top: 2rem;
    @include mobile{
        display: none;
    }
    
    a{
        &:hover{
            color: red;
        }
    }
    .soporte{
        display: inline-block;
        position: relative;
        left: 5rem;
        font-size: 2rem;
        font-family: 'Overpass Mono', monospace;
        @include mobile{
            display: block;
            position: relative;
            left: 0rem;
            font-size: 2rem;
            font-family: 'Overpass Mono', monospace;
        }
        
    }
    .preguntas{
        position: relative;
        top: 3rem;
        right: 2rem;
        
        font-size: 1rem;
        font-family: 'Carlito', sans-serif;
        color: black;
        @include mobile{
            display: block;
            position: relative;
            top: 0rem;
            right: 0rem;
            
            font-size: 1rem;
            font-family: 'Carlito', sans-serif;
            color: black;
        }
    }
    
    .flecha{
        position: relative;
        top: 3.5rem;
        right: 13.5rem;
        font-size: 1.6rem;
        font-weight: bold;
        font-weight: bolder 3rem;
        @include mobile{
            margin-bottom: 1rem;
    position: relative;
    top: 0rem;
    
    right: 0rem;
    font-size: 1.2rem;
    font-weight: normal;
    font-weight: normal ;
        }
    }
    
    .devoluciones{
        position: relative;
        top: 5rem;
        right: 13.5rem;
        font-size: 1rem;
        font-family: 'Carlito', sans-serif;
        color: black;
        @include mobile{
            display: block;
            position: relative;
            top: 0rem;
            right: 0rem;
            font-size: 1rem;
            font-family: 'Carlito', sans-serif;
            color: black;
        }
    }
    
    .flecha-right{
        position: relative;
        top: 5.5rem;
        right: 26.3rem;
        font-size: 1.6rem;
        font-weight: bold;
        font-weight: bolder 3rem;
        @include mobile{
            margin-bottom: 1rem;
            position: relative;
            top: 0rem;
            right: 0rem;
            font-size: 1.2rem;
            font-weight: normal;
            font-weight: normal ;
        }
    }
    
    .mail{
        position: relative;
        top: 7.2rem;
        right: 28rem;
        font-size: 1.2rem;
        font-weight: bold;
        font-weight: bolder 3rem;
        @include mobile{
            margin-bottom: 0.5rem;
            position: relative;
            top: 0rem;
            right: 0rem;
            font-size: 1.2rem;
            font-weight: normal;
            font-weight: normal ;
        }
    }
    
    .gmail{
        display: inline-block;
        position: relative;
        top: 7rem;
        right: 27.8rem;
        font-size: 1rem;
        font-family: 'Carlito', sans-serif;
        @include mobile{
            display: block;
    position: relative;
    top: 0rem;
    right: 0rem;
    font-size: 1rem;
    font-family: 'Carlito', sans-serif;
        }
    }
    
    .phone{
        position: relative;
        top: 9rem;
        right: 39.3rem;
        font-size: 1.2rem;
        font-weight: bold;
        font-weight: bolder 3rem;
        @include mobile{
            margin-bottom: 1rem;
    position: relative;
    top: 0rem;
    right: 0rem;
    font-size: 1.2rem;
    font-weight: normal;
    font-weight: normal ;
        }
    }
    
    .numero{
        display: inline-block;
        position: relative;
        top: 8.8rem;
        right: 39rem;
        font-size: 1rem;
        font-family: 'Carlito', sans-serif;
        @include mobile{
            display: block;
    position: relative;
    top: 0rem;
    right: 0rem;
    font-size: 1rem;
    font-family: 'Carlito', sans-serif;
        }
    }
    
    .metodosde-pago{
        position: relative;
        bottom: 0.7rem;
        font-size: 2rem;
        font-family: 'Overpass Mono', monospace;
        display: inline-block;
        @include mobile{
            position: relative;
            bottom: 0rem;
            font-size: 2rem;
            font-family: 'Overpass Mono', monospace;
            display: block;
        }
    }
    
    .pagosContainer{
        position: relative;
        top: 7rem;
       right: 10rem;
        display: inline-block;
    }
    
    .visa{
        position: relative;
        top: 3rem;
        right: 15rem;
        font-size: 3.5rem;
        @include mobile{
            margin-bottom: 3rem;
            position: relative;
            top: 0rem;
            right: 0rem;
            font-size: 3.5rem;
        }
    }
    
    .mastercard{
        position: relative;
        top: 3rem;
        right: 15rem;
        font-size: 3rem;
        @include mobile{
            position: relative;
            top: 0rem;
            right: 0rem;
            font-size: 3rem;
        }
    }
    
    .paypal{
        position: relative;
        top: 3rem;
        right: 15rem;
        font-size: 3rem;
        @include mobile{
            position: relative;
            top: 0rem;
            right: 0rem;
            font-size: 3rem;
        }
    }
    
    .redes-sociales{
        display: inline-block;
        position: relative;
        bottom: 0.7rem;
        left: 16rem;
        font-size: 2rem;
        font-family: 'Overpass Mono', monospace;
        @include mobile{
            display: block;
            position: relative;
            bottom: 0rem;
            left: 0rem;
            font-size: 2rem;
            font-family: 'Overpass Mono', monospace;
        }
        
    }
    
    .instagram{
        display: inline-block;
        position: relative;
        top: 3rem;
        left: 3rem;
        font-size: 3rem;
        @include mobile{
            margin-bottom: 3rem;
            display: block;
            position: relative;
            top: 0rem;
            left: 0rem;
            font-size: 3rem;
        }
    }
    
    .copyright{
        position: relative;
        top: 15rem;
        right: 72rem;
        font-size: 0.9rem;
        font-family: 'Carlito', sans-serif;
        display: inline-block;
        padding-bottom: 3rem;
        @include mobile{
            position: relative;
    top: 0rem;
    right: 0rem;
    font-size: 0.9rem;
    font-family: 'Carlito', sans-serif;
    display: block;
    padding-bottom: 3rem;
        }
    }
    
}
.footerResponsive{
    display: none;
    @include mobile{
        display: block;
    }
}