main{
    section{
        article{
            .sizeImgBilleteraOffWhite{
                width: 20rem;
                position: relative;
                bottom: 12rem;
            }
            .textAlignBilleteraOffWhite{
                position: relative;
                bottom: 12rem;
            }
            .sizeImgCinturonSupreme{
                width: 20rem;
                /* padding-top: 12rem; */
                margin-left: 2rem;
            }
            
            .textAlignCinturonSupreme{
               padding-top: 2.5rem;
            }
            
            .sizeImgBilleteraSpremexLouisVuitton{
                width: 17rem;
                /* padding-top: 12rem; */
            }
            
            .textAlignBilleteraSpremexLouisVuitton{
                padding-top: 3rem;
            }
            
            .sizeImgbilleterasupreme{
                width: 20rem;
                /* padding-top: 8rem; */
                padding-right: 2rem;
            }
            
            .sizeImgGorraJordan{
                width: 20rem;
                /* padding-top: 9rem; */
            }
            
            .textAlignGorraJordan{
                padding-top: 2rem;
            }
            
            .sizeImgGorraPalmAngels{
                width: 19rem;
                /* padding-top: 8rem; */
            }
            
            .textAlignGorraPalmAngels{
                position: relative;
                bottom: 1rem;
            }
            
            .sizeImgGorraSupreme{
                width: 23rem;
                padding-top: 6rem;
                position: relative;
                right: 9rem;
            }
            
            .textAlignGorraSupreme{
                position: relative;
                bottom: 1.8rem;
                right: 10rem;
            
            }
            
            .sizeImgGorroSupremeNewEraBoxLogo{
                width: 24rem;
                padding-top: 11rem;
                position: relative;
                right: 21rem;
            }
            
            .textAlignGorroSupremeNewEraBoxLogo{
                padding-top: 2rem;
                position: relative;
                right: 21rem;
            }
            
        }
    }
}