main{
    section{
        article{
            .sizeImgJordanWhiteOreo{
                width: 25rem;
                position: relative;
                right: 8rem;
            }
            
            .textAlignJordanWhiteOreo{
                text-align: center;
                padding-top: 2rem;
                padding-bottom: 10rem;
                position: relative;
                right: 10rem;
            }
            
            .sizeImgJordan1RetroHighDefiant{
                width: 25rem;
            }
            .textAlignJordan1RetroHighDefiant{
                text-align: center;
                padding-top: 2rem;
                padding-bottom: 10rem;
            }
            
            .sizeImgJordan1RetroYellowOchre{
                width: 25rem;
                position: relative;
                left: 8rem;
                
            }
            
            .textAlignJordan1RetroYellowOchre{
                text-align: center;
                padding-top: 2rem;
                padding-bottom: 10rem;
                position: relative;
                left: 6rem;
            }
            
            .sizeImgJordan1RetroHighBredToe{
                width: 25rem;
                position: relative;
                right: 8rem;
            }
            
            .textAlignJordan1RetroHighBredToe{
                text-align: center;
                padding-top: 2rem;
                padding-bottom: 10rem;
                position: relative;
                right: 10rem;
            }
            
            .sizeImgAdidasYeezyBoost350V2Onyx{
                width: 25rem;
            }
            .textAlignAdidasYeezyBoost350V2Onyx{
                text-align: center;
                padding-top: 2rem;
                position: relative;
                right: 1rem;
            }
            
            .sizeImgAdidasYeezyBoost350V2CoreBlackWhite{
                width: 25rem;
                position: relative;
                left: 8rem;
            }
            .textAlignAdidasYeezyBoost350V2CoreBlackWhite{
                text-align: center;
                padding-top: 2rem;
                position: relative;
                left: 8rem;
            }
            
            .sizeImgJordan1MidSEDarkChocolate{
                width: 25rem;
                position: relative;
                right: 37rem;
            }
            
            .textAlignJordan1MidSEDarkChocolate{
                text-align: center;
                padding-top: 2rem;
                position: relative;
                right: 39rem;
            
            }
        }
    }
}