main{
    section{
        article{
            .textPortadaCalzado{
                text-align: center;
                position: relative;
                bottom: 18rem;
                font-size: 5rem;
                color: white;
                font-family: 'Carlito', sans-serif;
            }
        }
    }
    section{
        article{
            div{
                
.sizeImgJordanBlackCat{
    width: 20rem;
    position: relative;
    right: 7rem;
    

}

.textAlignJordanBlackCat{
    margin-top: 3rem;
    position: relative;
    right: 8rem;
}
.sizeImgJordanOffWhite{
    width: 22rem;
    position: relative;
    bottom: 5rem;
   
    
    
}

.textAlignJordanOffWhite{
    position: relative;
    bottom: 2rem;
    right: 1.5rem;
}

.sizeImgJordan1Retro85{
    
    position: relative;
    bottom: 3rem;
   left: 7rem;
   
    
}

.textAlignJordan1Retro85{
    position: relative;
    bottom: 2rem;
    left: 5rem;
}

.sizeImgJordanMilitaryBlack{
    width: 25rem;
    margin-top: 10rem;
    position: relative;
    right: 7rem;
   
}

.textAlignJordanMilitaryBlack{
    position: relative;
    right: 9rem;
    bottom: 3rem;
}
.sizeImgJordanPureMoney{
    width: 21rem;
    margin-top: 10rem;
    position: relative;
    right: 3rem;
    top: 5rem;
   
}

.textAlignJordanPureMoney{
    position: relative;
    top: 8.5rem;
    right: 4rem;
}

.sizeImgJordan1RetroUniversityBlue{
    width: 27rem;
    margin-top: 10rem;
    position: relative;
    left: 5rem;
    top: 2rem;
    
}

.textAlignJordan1RetroUniversityBlue{
    position: relative;
    top: 2rem;
    left: 3rem;
}

.sizeImgJordanTravisScott{
    width: 27rem;
    position: relative;
    right: 10rem;
 
}

.textAlignJordanTravisScott{
    position: relative;
    top: 3.5rem;
    right: 12rem;
}

.sizeImgJordanHyperRoyal{
    width: 28rem;
    position: relative;
    right: 6rem;
}

.textAlignJordanHyperRoyal{
    position: relative;
    bottom: 10rem;
    right: 7rem;
}

.sizeImgJordan1RetroDarkMocha{
    width: 23rem;
    position: relative;
    top: 8rem;
    left: 1.5rem;
}

.textAlignJordan1RetroDarkMocha{
    position: relative;
    top: 6rem;
}

.sizeImgJordanRoyalToe{
    width: 25rem;
    position: relative;
    right: 11rem;
}

.textAlignJordanRoyalToe{
    position: relative;
    right: 13rem;
    bottom: 3rem;
}
.sizeImgYeezyBlackRed{
    width: 25rem;
    position: relative;
    right: 5rem;
}

.textAlignYeezyBlackRed{
    position: relative;
    right: 6rem;
    bottom: 3rem;
}

.sizeImgYeezyCream{
    width: 23rem;
    position: relative;
    top: 7rem;
    left: 2rem;
}

.textAlignYeezyCream{
    position: relative;
    top: 10rem;
    left: 1.5rem;
}
            }
        }
    }
    section{
        article{
            .pagination{
                justify-content: center;
                padding-bottom: 10rem;
                position: relative;
                top: 14rem;
            }
        }
    }
}