main{
    section{
        article{
            .textPortadaCategorias{
                text-align: center;
                position: relative;
                bottom: 18rem;
                font-size: 5rem;
                color: white;
                font-family: 'Carlito', sans-serif;
            
            }
        }
    }
}