main{
    section{
        article{
            .sizeImngTshirtCactusJackxDior{
                width: 25rem;
            }
            
            .textAlignTshirtCactusJackxDior{
                padding-top: 4rem;
            }
            
            .sizeImngTshirtDrewHouse3dSherman{
                width: 25rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
            
            .sizeImngHoodieOffWhiteTapeDiagArrowsBlackBeige{
                width: 25rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
            
            .sizeImngHoodiePalmAngelsKillBear{
                width: 27rem;
                padding-top: 15rem;
                padding-bottom: 2rem;
            }
            
            .sizeImngSweatpantsJordanxJBalvinBlue{
                width: 25rem;
                padding-top: 15rem;
                padding-bottom: 3.5rem;
            }
            
            .sizeImngShortEssentialsMossGoat{
                width: 25rem;
                padding-top: 15rem;
                padding-bottom: 4.5rem;
            }
            
            .sizeImngTShirtStussyBasicBlack{
                width: 25rem;
                padding-top: 15rem;
                padding-bottom: 2rem;
            }
            
            .sizeImngHoodieDrewHouseMascotBlack{
                width: 25rem;
                padding-top: 15rem;
                padding-bottom: 2rem;
            }
            
            .sizeImngTShirtNikexStussyWhite{
                width: 24rem;
                padding-top: 15rem;
                padding-bottom: 3rem;
            }
            
            .sizeImngTShirtDrewHouseFullMoonBlack{
                width: 21rem;
                padding-top: 15rem;
                padding-bottom: 3rem;
            }
            
            .sizeImngHoodieSupremeBandanaBoxLightBlue{
                width: 25rem;
                padding-top: 13.5rem;
                padding-bottom: 2rem;
            }
            
            .sizeImngTShirtNikexStussyBlack{
                width: 22rem;
                padding-top: 15rem;
                padding-bottom: 2.7rem;
            }
            
        }
    }
}