main{
    section{
        article{
            .textPortadaIndumentaria{
                text-align: center;
                position: relative;
                bottom: 18rem;
                font-size: 5rem;
                color: white;
                font-family: 'Carlito', sans-serif;
            }
        }
    }
    section{
        article{
            .sizeImngHoodieStussy{
                width: 30rem;
                position: relative;
                right: 9rem;
            }
            
            .textAlignHoodieStussy{
                position: relative;
                right: 9rem;
                top: 3rem;
            }
            
            .sizeImngPantsEssentialsButterCream{
                width: 18rem;
                position: relative;
                right: 3rem;
            }
            
            .textAlignPantsEssentialsButterCream{
                position: relative;
                right: 3rem;
                top: 3rem;
            }
            .sizeImngT-shirtCactusJack{
                width: 20rem;
                position: relative;
                left: 11rem;
            
            }
            
            .textAlignT-shirtCactusJack{
                position: relative;
                left: 11rem;
                top: 1rem;
            }
            
            .sizeImngT-shirtStussyWorldTour{
                width: 20rem;
                margin-top: 10rem;
                position: relative;
                right: 8rem;
             
            }
            
            .textAlignT-shirtStussyWorldTour{
                position: relative;
                right: 8rem;
                top: 2rem;
            }
            
            .sizeImngHoodieEssentialTaupe{
                width: 25rem;
                margin-top: 11rem;
                
                
            }
            
            .textAlignHoodieEssentialTaupe{
                position: relative;
                top: 3rem;
            }
            
            .sizeImngShortEssentialsButterCream{
                width: 20rem;
                margin-top: 11rem;
                position: relative;
                left: 12rem;
            
            }
            
            .textAlignShortEssentialsButterCream{
                position: relative;
                left: 11rem;
                top: 2rem;
            }
            
            .sizeImngHoodieEssentialCanary{
                width: 22rem;
                margin-top: 10rem;
                position: relative;
                right: 10rem;
            }
            
            .textAlignHoodieEssentialCanary{
                position: relative;
                right: 10rem;
                top: 2rem;
            }
            
            .sizeImngT-shirtTravisScot{
                width: 20rem;
                margin-top: 10rem;
                
                
            }
            
            .textAlignT-shirtTravisScot{
                position: relative;
                top: 4rem;
            }
            
            .sizeImngHoodieSupremeNatural{
                width: 20rem;
                margin-top: 10rem;
                position: relative;
                left: 12rem;
            }
            
            .textAlignHoodieSupremeNatural{
                position: relative;
                left: 11rem;
                top: 4rem;
            }
            
            .sizeImngPantsEssentialsOffBlack{
                width: 22rem;
                margin-top: 10rem;
                position: relative;
                right: 11rem;
            }
            
            .textAlignPantsEssentialsOffBlack{
                position: relative;
                right: 11rem;
                top: 3rem;
            }
            
            .sizeImngShortJordanxTravisScott{
                width: 22rem;
                margin-top: 10rem;
            }
            
            .textAlignShortJordanxTravisScott{
                position: relative;
                top: 3rem;
            }
            
            .sizeImngHoodieEssentials{
                width: 20rem;
                margin-top: 10rem;
                position: relative;
                left: 11rem;
            }
            
            .textAlignHoodieEssentials{
                position: relative;
                left: 10rem;
                top: 4rem;
            }
            
        }
    }
}