main{
    section{
        article{
            .imgPortadaNosotros{
                width: 100%;
                height: 40rem;
                position: relative;
                top: 9rem;
            }

        }
    }
    section{
        article{
            .textNosotros{
                padding-top: 15rem;
                text-align: center;
                font-size: 1.9rem;
                font-family: 'Carlito', sans-serif;
            }
        }
    }
    section{
        .imgalign{
            position: relative;
            top: 10rem;
            .imgBannerUbicacion{
                width: 110rem;
                padding-left: 9rem;
                margin-top: 3rem;
                margin-bottom: 4rem;
            }
            .textUbication{
                text-align: center;
                font-family: 'Carlito', sans-serif;
                font-size: 1.8rem;
                position: relative;
                bottom: 27rem;
                color: white;
                i{
                    font-weight: bold;
                    font-size: 4rem;
                }
            }
        }
    }
}