main{
    section{
        article{
            .textPortadaPoliticaDeDevoluciones{
                text-align: center;
                position: relative;
                bottom: 18rem;
                font-size: 5rem;
                color: white;
                font-family: 'Carlito', sans-serif;
               
            }
        }
    }
    section{
        article{
            .textPoliticaDeDevoluciones{
                padding-left: 25rem;
                position: relative;
                bottom: 3rem;
                font-family: 'Carlito', sans-serif;
                margin-bottom: 10rem;
                
             }
        }
    }
}