main{
    section{
        article{
            .sizeImngHoodieStussyWhite{
                width: 25rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
            
            .sizeImngShortEssentialsTaupe{
                width: 22rem;
                padding-top: 2rem;
                padding-bottom: 4rem;
            }
            
            .sizeImngTShirtDrewHouseSecretTeeWhite{
                width: 25rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
            
            .sizeImngSwatpantsEssentialsPistachio{
                width: 23rem;
                padding-top: 15rem;
                padding-bottom: 3rem;
            }
            
            .sizeImngTShirtOffWhiteSprayPrintBlack{
                width: 25rem;
                padding-top: 15rem;
                padding-bottom: 3rem;
            }
            
            .sizeImngHoodieEssentialsWood{
                width: 25rem;
                padding-top: 15rem;
                padding-bottom: 2rem;
            }
            
            .sizeImngSweatpantEssentialsSeal{
                width: 25rem;
                padding-top: 15rem;
                padding-bottom: 3rem;
            }
            
            .sizeImngTShirtEssentialsTaupe{
                width: 25rem;
                padding-top: 15rem;
                padding-bottom: 3rem;
            }
            
            .sizeImngDrewHouseTheordoreSketchCrewneckOffWhite{
                width: 25rem;
                padding-top: 15rem;
                padding-bottom: 3rem;
            }
            
            .sizeImngSweatpantNikexStussyInternationalBlack{
                width: 25rem;
                padding-top: 15rem;
                padding-bottom: 3rem;
            }
            
            .sizeImngTShirtdrewHouseSketchMascotTeeWhite{
                width: 25rem;
                padding-top: 15rem;
                padding-bottom: 3rem;
            }
            
            .sizeImngSweatpantEssentialsWood{
                width: 25rem;
                padding-top: 15rem;
                padding-bottom: 3rem;
            }
        }
    }
}